
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$secure-text-editor-ui-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$azure-palette,
    tertiary: mat.$magenta-palette,
  ),
  density: (
    scale: 0,
  )
));


// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($secure-text-editor-ui-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($secure-text-editor-ui-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($secure-text-editor-ui-theme);
/* You can add global styles to this file, and also import other style files */
/* Ensure full height of the page */
html, body {
 // overflow: hidden; /* Prevent scrolling on the app body */
  background-color:  #e3e2e6;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  text-align: center;
}

main {
  gap: 20px;
  padding: 20px;
  background-color: #e3e2e6;
}

.editor {
  display: flex;
  flex-direction: column;
}

.encryption-options {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 20px;
  align-self: start;
  overflow-y: auto;
}

.upload-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}


mat-form-field.text-editor {
  flex-grow: 1;
}

button.upload-file,
button.upload-decrypt-file {
  width: 220px;
}

.mat-radio-button,
.mat-select {
  margin-top: 10px;
}

h3 {
  margin: 20px 0 10px;
}

 .password-based-encryption, .digital-signature {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-items: flex-start;
  border-color: white;
  justify-content: flex-start; /* Changed to flex-start to avoid stretching */
}
.symmetric-encryption{
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-items: flex-start;
  border-color: white;
  justify-content: flex-start; /* Changed to flex-start to avoid stretching */
}
.radio-select-container {
  display: flex;
  align-items: center; /* Center vertically */
  margin-top: 10px; /* Add some spacing between the radio groups */
}

.mat-radio-button {
  margin-right: 10px; /* Space between radio button and select */
}

.mat-form-field {
  margin-left: 10px; /* Space between select and radio button */
  flex-grow: 1; /* Allow mat-form-field to grow if necessary */
}
mat-select {
  width: 150px;
}

.mat-radio-button {
  display: flex;
  justify-content: center; /* Center radio buttons horizontally */
}
.save-encrypt{
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #660000 !important;
  color: white !important;
}
.save-btn{
  padding-top: 10px;
  margin-left: 10px;
  background-color: #880000 !important;
  color: white !important;
}
.encrypt-btn{
  margin-right: 10px;
}

#ChaCha-PAS, #AES-PAS{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sidenav-container {
  height: 100%;
  background-color: #333;
}

.sidenav {
  width: 300px;
  background-color: #333 !important;
  padding: 20px;
  border-radius: 0 !important;
  overflow-y: auto; /* Allow the sidenav content to scroll */
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #333;
  color: white;
}

.upload-btn {
  display: flex;
  align-items: center;
  color: white ;
}


.upload-text {
  margin-left: 8px; /* Space between the icon and text */
}

.editor-layout {
  padding-top: 20px; /* Space for the top bar */
}
.text-editor textarea {
  max-height: 420px; /* need for scrollbar */
 // overflow-y: clip;
  overflow-x: clip;
}

mat-sidenav-content {
  height: 100%;
 overflow: auto; /* Prevent additional scroll bars */
  background-color: inherit; /* Ensures it inherits the background color */
}

.mat-drawer-content {
  height: auto; /* Allow content to define height */
  //overflow: visible; /* Prevent unnecessary scroll */
}

/* Adjust the editor section for better height management */
.editor-layout {
  flex-grow: 1;
  padding-top: 20px; /* Space for the top bar */
}

.editor {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
 // overflow: auto; /* Ensure scrolling only happens in the editor content */
}



/* Specific fix for removing border-like shadows */
.mat-form-field {
  border: none !important;
  box-shadow: none !important; /* Remove box shadows that might appear as borders */
}

.sidenav-container {
  background-color: #333;
  min-height: 600px;
  grid-template-columns: 250px 1fr; /* Sidebar width, remaining space for content */
  grid-template-rows: 100vh; /* Full viewport height */
}

