<h1>Secure Text Editor</h1>
<mat-sidenav-container class="sidenav-container">
  <!-- Collapsible Side Menu -->
  <mat-sidenav #sidenav mode="side" opened="false" class="sidenav">
    <h2>Encryption Options</h2>

    <!-- Radio group for encryption type selection -->
    <mat-radio-group aria-label="encryption" [(ngModel)]="selectedEncryptionType" [ngModelOptions]="{standalone: true}"
                     (ngModelChange)="onEncryptionTypeChange()">
      <h3>Symmetric Encryption</h3>
      <mat-radio-button value="AES_SYM" >AES</mat-radio-button>

      <!-- Symmetric Encryption Options -->
      <div *ngIf="selectedEncryptionType === 'AES_SYM'" class="symmetric-encryption">
        <mat-form-field>
          <mat-label>Key Size</mat-label>
          <mat-select [(ngModel)]="selectedKeySize" name="keySize" required>
            <mat-option value="128_SYM">128 Bit</mat-option>
            <mat-option value="192_SYM">192 Bit</mat-option>
            <mat-option value="256_SYM">256 Bit</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Block Mode</mat-label>
          <mat-select [(ngModel)]="selectedBlockMode" name="blockMode" required (selectionChange)="onBlockModeChange()">
            <mat-option value="ECB_SYM">ECB</mat-option>
            <mat-option value="CBC_SYM">CBC</mat-option>
            <mat-option value="GCM_SYM">GCM</mat-option>
            <mat-option value="CTS_SYM">CTS</mat-option>
            <mat-option value="OFB_SYM">OFB</mat-option>
            <mat-option value="CTR_SYM">CTR</mat-option>
            <mat-option value="CFB_SYM">CFB</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Padding</mat-label>
          <mat-select [(ngModel)]="selectedPadding" name="padding" required>
            <mat-option *ngIf="validateForAESNoPadding(fileContent, selectedBlockMode)" value="NoPadding_SYM">
              NoPadding
            </mat-option>
            <mat-option *ngIf="isPaddingAllowed(selectedBlockMode)" value="ISO10126Padding_SYM">ISO 10126-2</mat-option>
            <mat-option *ngIf="isPaddingAllowed(selectedBlockMode)" value="PKCS7Padding_SYM">PKCS#7</mat-option>
            <mat-option *ngIf="isPaddingAllowed(selectedBlockMode)" value="TBCPadding_SYM">TBC</mat-option>
            <mat-option *ngIf="isPaddingAllowed(selectedBlockMode)" value="X923Padding_SYM">X9.23</mat-option>
            <mat-option *ngIf="isPaddingAllowed(selectedBlockMode)" value="ZeroBytePadding_SYM">ZeroBytePadding</mat-option>
          </mat-select>
        </mat-form-field>


        <!-- Key Generation and Clearing Options -->
        <div class="key-container">
          <button mat-raised-button color="primary" class="key-btn" (click)="generateKey()">
            <mat-icon>key</mat-icon>
            Generate Key
          </button>

          <mat-form-field class="key-input">
            <input matInput placeholder="This is a part of your key" [(ngModel)]="key" readonly>
            <button mat-icon-button matSuffix color="warn" (click)="clearKey()">
              <mat-icon>clear</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>
      <mat-radio-button value="ChaCha20_SYM" >ChaCha20</mat-radio-button>
      <div *ngIf="selectedEncryptionType === 'ChaCha20_SYM'" class="symmetric-encryption">
        <mat-form-field>
          <mat-label>Key Size</mat-label>
          <mat-select [(ngModel)]="selectedKeySize" name="keySize" required>
            <mat-option value="256_SYM">256 Bit</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- Key Generation and Clearing Options -->
        <div class="key-container">
          <button mat-raised-button color="primary" class="key-btn" (click)="generateKey()">
            <mat-icon>key</mat-icon>
            Generate Key
          </button>

          <mat-form-field class="key-input">
            <input matInput placeholder="This is a part of your key" [(ngModel)]="key" readonly>
            <button mat-icon-button matSuffix color="warn" (click)="clearKey()">
              <mat-icon>clear</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>

      <!-- Authenticated Encryption Options -->
      <h3>Authenticated Encryption Modes</h3>
      <mat-radio-button value="AES_AEM">AES</mat-radio-button>
      <div *ngIf="selectedEncryptionType === 'AES_AEM'" class="symmetric-encryption">
        <mat-form-field>
          <mat-label>Mode</mat-label>
          <mat-select [(ngModel)]="selectedBlockMode" name="blockMode" (selectionChange)="AEMSelected()" required>
            <mat-option value="GCM_SYM">GCM</mat-option>
            <mat-option value="CCM_SYM">CCM</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- Key Generation and Clearing Options -->
        <div class="key-container">
          <button mat-raised-button color="primary" class="key-btn" (click)="generateKey()">
            <mat-icon>key</mat-icon>
            Generate Key
          </button>

          <mat-form-field class="key-input">
            <input matInput placeholder="This is a part of your key" [(ngModel)]="key" readonly>
            <button mat-icon-button matSuffix color="warn" (click)="clearKey()">
              <mat-icon>clear</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>

      <!-- Password-based Encryption Options -->
      <h3>Password-based Encryption</h3>
      <mat-radio-button value="AES_PAS">AES</mat-radio-button>
      <div *ngIf="selectedEncryptionType === 'AES_PAS'" class="password-based-encryption">
        <mat-form-field>
          <mat-label>Key Size</mat-label>
          <mat-select [(ngModel)]="selectedKeySize" name="keySize" required>
            <mat-option value="256_PAS">256 Bit</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Mode</mat-label>
          <mat-select [(ngModel)]="selectedPasswordAlgorithm" name="passwordAlgorithm" required>
            <mat-option value="GCM_PAS">GCM</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="password-input">
          <mat-label>Password</mat-label>
          <input matInput
                 [type]="hidePassword ? 'password' : 'text'"
                 [(ngModel)]="password"
                 placeholder="Enter your password"
                 (input)="validatePassword()"
                 maxlength="32"
                 required>
          <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" [attr.aria-label]="'Toggle password visibility'">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <button mat-icon-button matSuffix color="warn" *ngIf="password" (click)="clearPassword()">
            <mat-icon>clear</mat-icon>
          </button>
        </mat-form-field>

        <div *ngIf="passwordError" class="error-message">
          {{ passwordError }}
        </div>

        </div>

      <mat-radio-button value="ChaCha20_PAS">ChaCha20</mat-radio-button>
      <div *ngIf="selectedEncryptionType === 'ChaCha20_PAS'" class="password-based-encryption">
        <mat-form-field>
          <mat-label>Key Size</mat-label>
          <mat-select [(ngModel)]="selectedKeySize" name="keySize" required>
            <mat-option value="256_PAS">256 Bit</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- Password Input -->
        <mat-form-field class="password-input">
          <mat-label>Password</mat-label>
          <input matInput
                 [type]="hidePassword ? 'password' : 'text'"
                 [(ngModel)]="password"
                 placeholder="Enter your password"
                 (input)="validatePassword()"
                 maxlength="32"
                 required>
          <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" [attr.aria-label]="'Toggle password visibility'">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <button mat-icon-button matSuffix color="warn" *ngIf="password" (click)="clearPassword()">
            <mat-icon>clear</mat-icon>
          </button>
        </mat-form-field>
        <div *ngIf="passwordError" class="error-message">
          {{ passwordError }}
        </div>
      </div>

      <mat-radio-button value="PBE_PAS">PBEWithSHA256And128BitAES-CBC-BC</mat-radio-button>
      <div *ngIf="selectedEncryptionType === 'PBE_PAS'">
        <!-- Password Input -->
        <mat-form-field class="password-input">
          <mat-label>Password</mat-label>
          <input matInput
                 [type]="hidePassword ? 'password' : 'text'"
                 [(ngModel)]="password"
                 placeholder="Enter your password"
                 (input)="validatePassword()"
                 maxlength="32"
                 required>
          <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" [attr.aria-label]="'Toggle password visibility'">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <button mat-icon-button matSuffix color="warn" *ngIf="password" (click)="clearPassword()">
            <mat-icon>clear</mat-icon>
          </button>
        </mat-form-field>

        <div *ngIf="passwordError" class="error-message">
          {{ passwordError }}
        </div>
      </div>

      <!-- Digital Signature -->
      <h3>Digital Signature</h3>
      <mat-radio-button value="SHA256withDSA">SHA256withDSA</mat-radio-button>
    </mat-radio-group>

    <div *ngIf="selectedEncryptionType !== 'AES_AEM'" class="symmetric-encryption">
      <h3>Manipulation Detection</h3>
      <mat-checkbox [(ngModel)]="enableMAC" (change)="onMACEnableChange()">
        <mat-label>Enable Detection</mat-label>
      </mat-checkbox>
      <div *ngIf="enableMAC">
        <mat-form-field>
          <mat-label>Method</mat-label>
          <mat-select [(ngModel)]="selectedMAC" name="MAC" required>
            <mat-option value="SHA-256_MAC">SHA-256</mat-option>
            <mat-option value="AESCMAC_MAC">AESCMAC</mat-option>
            <mat-option value="HMACSHA256_MAC">HMAC SHA-256</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <!-- Save Buttons -->
    <div class="sidenav-footer">
      <button mat-raised-button color="primary" class="save-btn" (click)="normalSave()">
        <mat-icon>save</mat-icon>
        Save
      </button>
      <button mat-raised-button color="accent" class="save-encrypt" (click)="encryptFileContent()">
        <mat-icon>lock</mat-icon>
        Save & Encrypt
      </button>
    </div>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>
    <!-- Top Bar with Upload Icon -->
    <header class="top-bar">
      <button mat-icon-button (click)="sidenav.toggle()" class="upload-btn">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-form-field>
        <input matInput placeholder="Here goes the file name!" [(ngModel)]="fileName">
      </mat-form-field>
      <button mat-icon-button [matMenuTriggerFor]="menu" class="upload-btn" name="fileNameInput">
        <mat-icon>upload</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="uploader.click()">Upload Plain Text File</button>
        <button mat-menu-item (click)="decryptUploader.click()">Upload Encrypted File to Decrypt</button>
      </mat-menu>
      <input type="file" name="upload-plaintext" (change)="onFileSelected($event)" accept=".txt" class="file-input" #uploader hidden>
      <input type="file" name="upload-decrypt" (change)="onFileSelected($event, true)" accept=".txt" class="file-input" #decryptUploader hidden>
    </header>

    <!-- Main Content Area -->
    <main class="editor-layout">
      <!-- Editor Section -->
      <section class="editor">
        <!-- Textarea to Display File Content -->
        <mat-form-field class="text-editor">
          <mat-label>Enter your text!</mat-label>
          <textarea matInput placeholder="try cracking me :)" cdkTextareaAutosize cdkAutosizeMinRows="32"
                    [(ngModel)]="fileContent" [ngModelOptions]="{standalone: true}">
          </textarea>
        </mat-form-field>
      </section>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
