<h1>The Secure Text Editor</h1>
<mat-sidenav-container class="sidenav-container">
  <!-- Collapsible Side Menu -->
  <mat-sidenav #sidenav mode="side" opened="false" class="sidenav">
    <h2>Encryption Options</h2>
    <mat-radio-group aria-label="encryption" [(ngModel)]="selectedEncryptionType" [ngModelOptions]="{standalone: true}">
      <h3>Symmetric Encryption</h3>
      <mat-radio-button value="AES_SYM">AES</mat-radio-button>

      <!-- Show Key Length dropdown if AES (Symmetric) is selected -->
      <div *ngIf="selectedEncryptionType === 'AES_SYM'" class="symmetric-encryption">
        <mat-form-field>
          <mat-label>Key Length</mat-label>
          <mat-select [(ngModel)]="selectedKeyLength" name="keyLength">
            <mat-option value="128_SYM">128 Bit</mat-option>
            <mat-option value="192_SYM">192 Bit</mat-option>
            <mat-option value="256_SYM">256 Bit</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <h3>Password-based Encryption</h3>
      <div class="password-based-encryption">
        <mat-radio-button value="AES_PAS">AES</mat-radio-button>

        <!-- Show Key Length dropdown if AES (Password-based) is selected -->
        <div *ngIf="selectedEncryptionType === 'AES_PAS'" class="password-based-encryption" id="AES-PAS">
          <mat-form-field>
            <mat-label>Key Length</mat-label>
            <mat-select [(ngModel)]="selectedPasswordAlgorithm" name="passwordAlgorithm">
              <mat-option value="256_PAS">256 Bit</mat-option>
              <mat-option value="GCM_PAS">GCM</mat-option>
              <mat-option value="SCRYPT_AES">SCRYPT</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <mat-radio-button value="ChaCha20_PAS">ChaCha20</mat-radio-button>
        <!-- Show Key Length dropdown if ChaCha20 is selected -->
        <div *ngIf="selectedEncryptionType === 'ChaCha20_PAS'" class="password-based-encryption" id="ChaCha-PAS">
          <mat-form-field>
            <mat-label>Key Length</mat-label>
            <mat-select [(ngModel)]="selectedChaCha20Algorithm" name="chacha20Algorithm">
              <mat-option value="256_CHA">256 Bit</mat-option>
              <mat-option value="SCRYPT_CHA">SCRYPT</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <mat-radio-button value="PBE_PAS">PBEWithSHA256And128BitAES-CBC-BC</mat-radio-button>
      </div>

      <h3>Digital Signature</h3>
      <mat-radio-button value="SHA_DSA">SHA256withDSA</mat-radio-button>
    </mat-radio-group>

    <!-- Add Save and Save Encrypt Buttons -->
    <div class="sidenav-footer">
      <button mat-raised-button color="primary" class="save-btn" (click)="encryptFileContent()">
        <mat-icon>save</mat-icon>
        Save
      </button>

      <button mat-raised-button color="accent" class="save-encrypt" (click)="encryptFileContent()">
        <mat-icon>lock</mat-icon>
        Save & Encrypt
      </button>
    </div>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>
    <!-- Top Bar with Upload Icon -->
    <header class="top-bar">
      <button mat-icon-button (click)="sidenav.toggle()" class="upload-btn">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu" class="upload-btn">
        <mat-icon>upload</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="uploader.click()">Upload Plain Text File</button>
        <button mat-menu-item (click)="decryptUploader.click()">Upload Encrypted File to Decrypt</button>
      </mat-menu>
      <input type="file" name="upload-plaintext" (change)="onFileSelected($event)" accept=".txt" class="file-input" #uploader hidden>
      <input type="file" name="upload-decrypt" (change)="onFileSelected($event, true)" accept=".txt" class="file-input" #decryptUploader hidden>
    </header>

    <!-- Main Content Here -->
    <main class="editor-layout">
      <!-- Editor Section -->
      <section class="editor">
        <!-- Textarea to Display File Content -->
        <mat-form-field class="text-editor">
          <mat-label>Enter your text!</mat-label>
          <textarea matInput placeholder="I am so safe!" cdkTextareaAutosize cdkAutosizeMinRows="32"
                    [(ngModel)]="fileContent" [ngModelOptions]="{standalone: true}">
          </textarea>
        </mat-form-field>
      </section>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
